@use '../globals/' as *;

.card__text-container {
    display: none;
    grid-area: text;
    padding: 2.5rem 3.4rem 7.8rem;

    background-image: url(../../src/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 16%;

    @media (min-width: $desktop) {
        margin-top: 21.3rem;
        margin-right: -7.8rem;
        padding: 6.5rem 0 0 16.5rem;
        background-size: 15%;
        background-position: left 38% top;
        z-index: 1;
    }
}

.card__text-container.active {
    display: block;
}

.card__testimonial {
    font-size: var(--fs-testimonial);
    font-weight: var(--fw-light);
    text-align: center;
    line-height: 1.33;

    @media (min-width: $desktop) {
        font-size: var(--fs-testimonial-desktop);
        text-align: left;
        line-height: 1.38;
    }
}

.card__name {
    margin-top: 1.8rem;
    font-size: var(--fs-normal);
    font-weight: var(--fw-bold);
    text-align: center;

    @media (min-width: $desktop) {
        display: inline-block;
        padding-top: 2rem;
        font-size: var(--fs-normal-desktop);
        text-align: left;
    }
}

.card__position {
    margin-top: 0.1rem;
    font-size: var(--fs-normal);
    font-weight: var(--fw-medium);
    color: var(--clr-grayish-blue);
    text-align: center;

    @media (min-width: $desktop) {
        display: inline-block;
        padding-top: 1.8rem;
        font-size: var(--fs-normal-desktop);
        text-align: left;
    }
}

.card__image-container {
    position: relative;
    padding: 5.5rem 6.1rem 5.8rem;
    background-image: url(../../src/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: center top 45%;
    background-size: 86%;
    
    @media (min-width: $desktop) {
        margin-top: 5rem;
        margin-left: -5rem;
        padding: 6rem 6.1rem 5.8rem;
        background-position: left top;
        background-size: 90.5%;
    }
}

.card__image {
    display: none;
    grid-area: image;
    border-radius: 0.5rem;
    box-shadow: -2rem 8rem 6.5rem -6.5rem var(--clr-bs);
    filter: drop-shadow(0 1rem 0.5rem var(--clr-bs-1));
}

.card__image.active {
    display: block;
}

.card__slider {
    position: absolute;
    bottom: 3.7rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    @include flex-center;
    width: 8rem;
    height: 4rem;

    background-color: var(--clr-white);
    border-radius: 2rem;
    box-shadow: 0 0 0.3rem var(--clr-bs-1);

    @media (min-width: $desktop) {
        bottom: 3rem;
        left: 23.8%;
        width: 11.2rem;
        height: 5.6rem;
        border-radius: 2.8rem;
    }
}

.card__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    &:focus-visible {
        outline: none;
        border: 0.3rem dotted var(--clr-grayish-blue);
        border-radius: 2rem;
    }

    @media (min-width: $desktop) {
        width: 5.06rem;

        &:focus-visible {
            border-radius:unset;
        }
    }
}

.card__arrow > img {
    height: 1.3rem; 
    width: 0.8;

    @media (min-width: $desktop) {
        height: 1.8rem; 
        width: 0.8;
    }
}