:root {
    // primary colors
    --clr-dark-blue: hsl(240, 38%, 20%);
    --clr-grayish-blue: hsl(240, 18%, 77%);

    // neutral colors
    --clr-white: hsl(0, 0%, 100%);
    --clr-bs: hsla(256, 26%, 20%, 0.6);
    --clr-bs-1: hsla(256, 26%, 20%, 0.1);
}
