@font-face {
    font-family: 'Inter';
    src: url(../../src/font/Inter-Light.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url(../../src/font/Inter-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url(../../src/font/Inter-Bold.ttf) format("truetype");
    font-weight: 700;
}

:root {  
    // font family
    --ff: 'Inter', sans-serif;

    // font sizes
    --fs-testimonial: 1.8rem;
    --fs-normal: 1.5rem;
    
    --fs-testimonial-desktop: 3.2rem;
    --fs-normal-desktop: 2.05rem;

    // font weights
    --fw-light: 300;
    --fw-medium: 500;
    --fw-bold: 700;
}  